services:
  django:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django_app
    command: ["gunicorn", "market.wsgi:application", "--bind", "0.0.0.0:8000"]
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    environment:
      - DATABASE_URL=postgresql://admin:BrvyFl9xGKVPb7XGQIncAB6SmNJZjUXe@dpg-cte3u4rtq21c73813qdg-a.oregon-postgres.render.com/new_db_fhwf

  celery:
    build:
      context: .
      dockerfile: Dockerfile-celery
    container_name: celery_worker
    depends_on:
      - redis
      - postgres
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - DATABASE_URL=postgresql://admin:BrvyFl9xGKVPb7XGQIncAB6SmNJZjUXe@dpg-cte3u4rtq21c73813qdg-a.oregon-postgres.render.com/new_db_fhwf

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile-celerybeat
    container_name: celery_beat
    depends_on:
      - redis
      - postgres
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - DATABASE_URL=postgresql://admin:BrvyFl9xGKVPb7XGQIncAB6SmNJZjUXe@dpg-cte3u4rtq21c73813qdg-a.oregon-postgres.render.com/new_db_fhwf



  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: BrvyFl9xGKVPb7XGQIncAB6SmNJZjUXe
      POSTGRES_DB: new_db_fhwf
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - django

volumes:
  postgres_data:
